packaging_format = 2

id = "prosody"
name = "Prosody"
description.en = "Modern XMPP communication server"
description.fr = "Serveur de communication XMPP moderne"

version = "0.12~ynh0"

maintainers = ["yalh76", "anubister", "pitchum"]

[upstream]
license = "MIT"
website = "https://prosody.im/"
admindoc = "https://prosody.im/doc"
code = "https://hg.prosody.im/"

[integration]
yunohost = ">= 12.0"
architectures = "all"
multi_instance = false
ldap = true
sso = false
disk = "75M"
ram.build = "10M"
ram.runtime = "10M"
helpers_version = "2.1"

[install]
    [install.domain]
    type = "domain"

[resources]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.ports]
    file.default=5000
    client.default=5222
    client.exposed="TCP"
    server.default=5269
    server.exposed="TCP"
    http.default=5280
    https.default=5281
    https.exposed="TCP"
    component.default=5347
    telnet.default=5582
    #ports from https://github.com/YunoHost/issues/issues/1607
#    coturn.default=3478
#    coturntls.default=5349
#    coturn2.default=3479
#    coturn3.default=5350
#    coturn.exposed="TCP"
#    coturntls.exposed="TCP"
#    coturn2.exposed="TCP"
#    coturn3.exposed="TCP"
    #TODO:
    #yunohost firewall allow UDP -4 49152:65535

    [resources.permissions]

    [resources.apt]
    packages = ""
